body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.blur-background {
    background-image: url("background.jpg");
    -webkit-background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center; 
    height: 120vh;
    width: auto; 
    left: 0px;
    right: 0px;
    top: 0px;
    filter:blur(3px);
}

.table {
    background-color: rgba(8, 31, 163, 0.13);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 90%;
    height: 90%;
    padding: 0;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    border: 5px inset #fff;
}

.container {
    background-color: rgba(8, 31, 163, 0.13);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 90%;
    height: 90%;
    padding: 0;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    border: 5px inset #fff;
}


.info {
    z-index: 4;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 5%;
    left: 50%;
    width: 90%;
    height: 10%;
    text-align: center;
    vertical-align: super;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    
}

.nav {
    width: 90%;
    height: 10%;
    z-index: 5;
    position: absolute;
    text-align: center;
    left: 5%;
    top: 10%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.prev {
    position: absolute;
    top: 0;
    left: 10%;
    border:rgb(255, 255, 255) inset 0.2px;
    border-radius: 20px;
    padding: 5px 20px;
}

.prev:hover {
    background-color: rgba(255, 255, 255, 0.384);
}

.next {
    position: absolute;
    top: 0;
    right: 10%;
    border:rgb(255, 255, 255) inset 0.2px;
    border-radius: 20px;
    padding: 5px 20px;
}

.next:hover {
    background-color: rgba(255, 255, 255, 0.384);
}

td {
    border: inset 0.2px rgb(255, 255, 255);
    border-radius: 30px;
    vertical-align:top;
    text-align: end;
    padding: 1rem;
    width: 200px;
    height: 110px;
}

td:hover {
 background-color: rgba(255, 255, 255, 0.384);
}

.tasks {
    text-align: left;
    padding: 5px;
}
.tasks-header {
    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between; 
}

.tasks-date {
    /* text-align: left; */
    padding: 15px;
    margin: 20px;
}

.create-new-task {
    vertical-align: middle;
    min-width: 400px;
    min-height: 60px;
    padding: 5px; 
    margin: 20px; 
    border: 0.5px solid rgb(255, 255, 255);
    border-radius: 25px;
    background-color: rgb(255, 255, 255, 0.03);
    font-size: 20px;
    color:rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
    transition: 0.4s ease-out;
}

.create-new-task:hover {
    box-shadow: 6px 6px rgba(0, 0, 0, 0.6);
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
 transition: transform 0.2s;
}

.slide-enter,
.slide-leave-to {
 transform: translateY(-50%) translateX(100vw);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;

    min-width: 900px;
    min-height: 450px;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 16px;
    padding: 25px;
}

