body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.blur-background {
    background-image: url("background.jpg");
    -webkit-background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center; 
    height: 120vh;
    width: auto; 
    left: 0px;
    right: 0px;
    top: 0px;
    filter:blur(3px);
}

.table {
    background-color: rgba(8, 31, 163, 0.13);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 90%;
    height: 90%;
    padding: 0;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    border: 5px inset #fff;
}

.container {
    background-color: rgba(8, 31, 163, 0.13);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 90%;
    min-height: 90%;
    height: auto;
    padding: 0;
    margin-top: 100px;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    border: 5px inset #fff;
}


.info {
    z-index: 4;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 5%;
    left: 50%;
    width: 90%;
    height: 10%;
    text-align: center;
    vertical-align: super;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    
}

.nav {
    width: 90%;
    height: 10%;
    z-index: 5;
    position: absolute;
    text-align: center;
    left: 5%;
    top: 7%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.prev {
    position: absolute;
    top: 0;
    left: 10%;
    border:rgb(255, 255, 255) inset 0.2px;
    border-radius: 20px;
    padding: 5px 20px;
    min-width: 200px;
    min-height: 30px;
    color:rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
    transition: 0.4s ease-out;
    /* vertical-align: middle;
   
    padding: 5px; 
    margin: 20px; 
    border: 0.5px solid rgb(255, 255, 255);
    border-radius: 25px;
    background-color: rgb(255, 255, 255, 0.03);
    font-size: 20px;
     */

}

.prev:hover, 
.next:hover {
    background-color: rgba(255, 255, 255, 0.192);
}

.prev:active, 
.next:active {
    box-shadow: 6px 6px rgba(0, 0, 0, 0.6);
    transform: translateY(4px);
}

.next {
    position: absolute;
    top: 0;
    right: 10%;
    border:rgb(255, 255, 255) inset 0.2px;
    border-radius: 20px;
    padding: 5px 20px;
    min-width: 200px;
    min-height: 30px;
    color:rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
    transition: 0.4s ease-out;
}


td {
    border: inset 0.2px rgb(255, 255, 255);
    border-radius: 30px;
    vertical-align:top;
    text-align: end;
    padding: 1rem;
    width: 200px;
    height: 110px;
}

td:hover {
 background-color: rgba(255, 255, 255, 0.384);
}

.tasks {
    text-align: left;
    padding: 5px;
}
.tasks-header {
    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between; 
    align-items: baseline;
}

.tasks-date {
    /* text-align: left; */
    padding: 15px;
    margin: 20px;
}

.button {
    vertical-align: middle;
    min-width: 400px;
    min-height: 60px;
    padding: 5px; 
    margin: 20px; 
    border: 0.5px solid rgb(255, 255, 255);
    border-radius: 25px;
    background-color: rgb(255, 255, 255, 0.03);
    font-size: 20px;
    color:rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
    transition: 0.4s ease-out;
}

.button:hover {
    box-shadow: 6px 6px rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.26);
}

.button:active {
    box-shadow: 6px 6px rgba(0, 0, 0, 0.6);
    transform: translateY(4px);
  }

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
 transition: transform 0.2s;
}

.slide-enter,
.slide-leave-to {
 transform: translateY(-50%) translateX(100vw);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;

    min-width: 900px;
    min-height: 450px;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 16px;
    padding: 25px;
}

.new-task-title {
    width: 100%;
    min-height: 40px;
    border-radius: 30px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.466);
    font-size: x-large;
    text-align: center; 
    color:rgb(255, 255, 255);
  
}

.new-task-title:focus {
    background-color: rgba(255, 255, 255, 0.25);
    outline: none !important;
}

.new-task-body {
    margin-top: 30px;
    width: 100%;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.466);
    font-size: medium;
    text-align: center; 
    color:rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 30px;
    border-style: none;
}

.new-task-body:focus {
    background-color: rgba(255, 255, 255, 0.25);
    outline: none !important;
}

ul {
    list-style-type: none;
}

.task-item {
    border:solid 0.5px rgb(255, 255, 255);
    border-radius: 30px;
    margin: 5px;
    padding: 15px;
}

.task-item:hover {
    background-color: rgba(255, 255, 255, 0.26);
}